body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body-noverflow {
  overflow: hidden;
}

header {
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: Intro;
    src: url('../fonts/Intro.otf');
}

/*===================================================================================================
LOGIN
===================================================================================================*/

.white-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
  top: 0;
  transition: opacity 0.2s;
}

.overlay-gone {
  z-index: -100;
  opacity: 0;
}

.background-img {
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  margin: -30px;
  background: url("../img/naomi-hutchinson-261792.jpg");
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: -10;
  transition: 0.2s;
  will-change: filter;
}

.login-wrap {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 400px;
  box-shadow: 0px 0px 80px -22px rgba(0,0,0,0.8);
  overflow: hidden;
}

.login-background {
  background: url("../img/login_background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  filter: blur(0);
  transition: 0.2s;
  will-change: filter;
}

.form-logo {
  margin: auto;
  display: block;
  width: 35%;
  top: 50%;
  position: relative;
  transform: translateY(-140px);
  transition: 1s;
  transition-timing-function: cubic-bezier(0,1,0,1);
}

.login-form {
  width: 100%;
  height: 200px;
  position: absolute;
  top: calc(100% - 50px);
  background: #0099ff;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0,1,0,1)
}

.login-title {
  font-family: 'Montserrat';
  color: #fff;
  text-align: center;
  width: 100%;
  display: block;
  line-height: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.3s;
  z-index: 5;
}

.class-hidden {opacity: 0;}
.class-gone {display: none;}
.add-filter {filter: blur(15px)}

.form-expand {
  transform: translateY(-150px);
  cursor: auto;
}

.form-filter {
  filter: blur(4px);
}

.true-form {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 30px;
  box-sizing: border-box;
}

input[type=text].input-text {
  width: 100%;
  background: none;
  border: 0;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  font-family: 'Montserrat';
  letter-spacing: 1px;
  margin: 20px 0;
  font-size: 11px;
  box-sizing: border-box;
  padding-bottom: 3px;
}

input[type=password].input-text {
  width: 100%;
  background: none;
  border: 0;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  font-family: 'Montserrat';
  letter-spacing: 1px;
  margin: 20px 0;
  font-size: 11px;
  box-sizing: border-box;
  padding-bottom: 3px;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 10px #0099ff inset;
   -webkit-text-fill-color: #fff;
}

.input-text::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}

.login-label {
  border-bottom: 0;
  width: 0;
  display: block;
  transition: 0.2s;
  border-bottom: 2px solid #fff;
  margin-top: -22px;
}

.input-text:focus+label {
  width: 100%;
  border-bottom: 2px solid #fff;
}

.submit-btn {
  width: 100%;
  background: 0;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Montserrat';
  margin-top: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

.wrong-login {
  animation-name: wiggle;
  animation-duration: 0.5s;
}

.wrong-login::placeholder{
  opacity: 0;
}

@keyframes wiggle {
  0% {transform: translate(5px, -50%);}
  20% {transform: translate(-5px, -50%);}
  40% {transform: translate(5px, -50%);}
  60% {transform: translate(-5px, -50%);}
  80% {transform: translate(5px, -50%);}
  100% {transform: translate(0, -50%);}
}

.form-login-succes {
  transform: translateY(50px);
}

.form-logo-center {
  transform: translateY(-50%);
}

/*===================================================================================================
DASHBOARD
===================================================================================================*/

.loadscreen-wrap {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.3s;
}

.splash-vid {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  position: relative;
  top: calc(50% - 50px);
}

.remove-splash {
  opacity: 0;
}

.dashboard-body {
  background: #f9f9fb;
}

.menu-wrap {
  width: 200px;
  height: 100%;
  position: fixed;
  background: #34495e;
  display: none;
}

.top-profile-wrap {
  width: 100%;
  height: 100px;
  background: #0099ff;
  box-sizing: border-box;
  padding: 20px 10px;
  overflow: hidden;
}

.profile-letters {
  border-radius: 50%;
  background: #fff;
  display: block;
  text-align: center;
  font-family: 'Montserrat';
  color: #929292;
}

.profile-letters-small {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  float: left;
}

.profile-letters-big {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  background: #0099ff;
  color: #fff;
  margin: 20px;
  float: left;
}

.top-profile-name {
  color: #fff;
  display: block;
  float: left;
  font-family: 'Intro';
  top: 30px;
  position: relative;
  transform: translateY(-50%);
  margin-left: 5px;
  max-width: 115px;
  font-size: 12px;
}

.menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #93a5a5;
  font-family: 'Intro';
  font-size: 14px;
}

.menu-item:hover {
  background: #293847;
  cursor: pointer;
}

.menu-item i {
  margin-left: 25px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 40px;
  float: left;
  width: 25px;
}

.menu-item span {
  float: left;
  line-height: 40px;
}

.menu-item-top {
  margin-top: 20px;
}

.menu-item-active {
  background: #233342;
  color: #fff;
}

.menu-item-active i {
  color: #0099ff;
}

.rest-wrap {
  /*width: calc(100% - 200px);*/
  width: 100%;
  height: 100%;
  float: right;
  /*background: #ecf0f1;*/
  background: #f9f9fb;
  position: relative;
}

.logo-top-wrap {
  width: 100%;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #d6d7d9;
  line-height: 100px;
  background: #fff;
}

.logo-top-wrap img {
  height: 75px;
  width: auto;
  position: relative;
  top: 12.5px;
}

.profile-bar-contain {
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #d6d7d9;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  position: relative;
  background: #fff;
}

.profile-bar-wrap {
  max-width: 1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.profile-info-wrap {
  float: left;
  position: relative;
  top: 25px;
}

.profile-info-name {
  margin: 0;
  font-family: 'Intro';
  font-size: 20px;
  color: #34495e;
}

.profile-info-function {
  font-family: 'Montserrat';
  color: #D6D7D9;
  display: block;
  font-size: 12px;
}

.profile-info-company {
  display: block;
  font-family: 'Montserrat';
  margin-top: 5px;
  font-size: 16px;
}

.right-icons-wrap {
  float: right;
  height: 100%;
  width: auto;
  position: absolute;
  right: 30px;
}

.right-icons-wrap i {
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  color: #d6d7d9;
  font-size: 25px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.right-icons-wrap i:hover {
  color: #929292;
}

.dropdown-bubble {
  position: absolute;
  float: right;
  right: 0;
  width: 100px;
  transition: 0.3s;
  opacity: 1;
  z-index: 15;
  top: 50px;
  right: -15px;
  border: 1px solid #d6d7d9;
  border-radius: 3px;
}

.bubble-gone {
  z-index: -5;
  opacity: 0;
  margin-top: -10px;
  pointer-events: none;
}

.bubble-item {
  height: 50%;
  line-height: 25px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 10px;
}

.bubble-item:hover {
  background: #eee;
  cursor: pointer;
}

/*
.right-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
  float: left;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #c4c4c4;
  margin-right: 5px;
  top: 20px;
  position: relative;
  background: #fff;
}

.right-icon:hover {
  cursor: pointer;
  background: #0099ff;
  color: #fff;
}*/

.profile-titles-contain {
  height: 30px;
  width: 500px;
  margin: auto;
  top: 100%;
  transform: translateY(-100%);
  position: absolute;
  text-align: center;
  left: calc(50% - 250px);
  font-family: 'Montserrat';
  user-select: none;
}

.profile-titles-contain span {
  /*margin: 0 5px;*/
  width: 110px;
  letter-spacing: 0.5px;
  font-size: 14px;
  display: inline-block;
  transition: 0.3s;
  overflow: hidden;
  margin-top: 5px;
}

.profile-titles-contain p {
  margin: 0;
  padding: 0;
}

.profile-titles-contain span:hover {
  cursor: pointer;
}

.profile-titles-contain span.experiments-hidden {
  width: 0;
}

@media screen and (min-width: 480px) {

}

.profile-titles-contain .title-experiments:hover {
  cursor: default;
}

#profile-title-active {
  position: relative;
  width: 110px;
  border-bottom: 2px solid #0099ff;
  margin: auto;
  transition: 0.3s;
}

.title-border-right {
  transform: translateX(100%);
}

.title-border-semi-right {
  transform: translateX(50%);
}

.title-border-center {
  transform: translateX(0);
}

.title-border-left {
  transform: translateX(-50%);
}

.title-mid-active {
  color: #0099ff;
}

.left-side-wrap {
  transition: 0.3s;
}

.cards-contain {
  width: 100%;
  height: auto;
  position: absolute;
  /*background: #ecf0f1;*/
  background: #f9f9fb;
  transition: 0.3s;
}

.cards-wrap {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  transition: 0.3s;
  top: 0;
  /*background: #ecf0f1;*/
  background: #f9f9fb;
}

.experiments-cards-gone {
  display: none;
}

.experiments-company-name {
  width: 100%;
  height: 30px;
  background: #fff;
  border-bottom: 1px solid #d6d7d9;
}

.experiments-company-name-wrap {
  margin: auto;
  position: relative;
  max-width: 1000px;
  height: 100%;
  padding: 0 100px;
  font-family: 'Montserrat';
  /*font-weight: 500;*/
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 12px;
  color: #929292;
  text-transform: uppercase;
}

.experiments-back-arrow {
  color: #0099ff;
  font-size: 15px;
  margin: 0 45px 0 20px;
  display: block;
  float: left;
}

.experiments-back-arrow i {
  line-height: 30px;
}

.experiments-back-arrow i:hover {
  cursor: pointer;
}

.experiments-days {
  float: right;
  text-align: right;
}

.single-day {
  color: #0099ff;
}

.single-card {
  width: 300px;
  height: 200px;
  background: #fff;
  border: 1px solid #d6d7d9;
  margin: 12.5px;
  box-sizing: border-box;
  padding: 30px 20px 20px 20px;
  font-family: 'Montserrat';
  color: #34495E;
  position: relative;
  transition: box-shadow 0.3s;
}

.single-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.75);
}

.card-circle {
  display: none;
}

.card-circle-experiments {
  display: inline-block;
  float: left;
  font-size: 35px;
}

.card-company-name {
  margin: 0;
  position: absolute;
  max-width: 260px;
  max-height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-amount-wrap {
  position: absolute;
  bottom: 10px;
  top: auto;
}

.experiments-ellipsis-wrap {
  right: 20px;
}

.experiments-ellipsis-wrap i {
  color: #d6d7d9;
  padding: 5px;
}

.experiments-ellipsis-wrap i:hover {
  color: #929292;
  cursor: pointer;
}

.experiments-info {
  display: inline-block;
  max-width: calc(100vw - 200px);
  overflow: hidden;
  width: 100%;
}

.experiments-info-name {
  color: #000;
  max-height: 40px;
  overflow: hidden;
  display: block;
}

.experiments-info-sub {
  display: block;
  font-size: 10px;
  top: 0px;
  position: relative;
  color: #929292;
  max-height: 39px;
  overflow: hidden;
}

.experiments-info-results {
  font-size: 10px;
  /*top: -4px;*/
  position: relative;
  color: #929292;
  max-height: 26px;
  overflow: hidden;
  display: block;
}

.projects-number {
  display: block;
  font-size: 50px;
  font-weight: 500;
}

.projects-number::after {
  content: 'Experiments';
  display: block;
  font-size: 15px;
  font-weight: 400;
  top: -10px;
  position: relative;
}

.card-plus {
  padding: 0;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
  color: #c4c4c4;
}

.card-plus:hover {
  cursor: pointer;
}

.popup-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: 0.3s;
}

.popup-background-vis {
  opacity: 1;
  z-index: 500;
}

.popup-wrap {
  position: relative;
  margin: auto;
  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 7px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.popup-wrap2 {
  overflow: auto;
}

.close-btn-wrap {
  width: 100%;
  height: 55px;
  text-align: right;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 30px;
  color: #dfe0e2;
}

.close-btn-wrap i:hover {
  cursor: pointer;
}

.popup-wrap h3 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 300;
  margin: 20px;
}

.popup-wrap2 h3 {
  font-size: 22px;
}

.seperation-border {
  position: relative;
  margin: auto auto 30px auto;
  width: 50px;
  border: 1px solid #dfe0e2;
}

.new-company-form {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  transition: 0.3s;
  position: absolute;
}

input[type=text].new-company-input {
  border: 0;
  border-bottom: 2px solid #dfe0e2;
  width: 100%;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  transition: 0.3s;
  outline: 0;
  color: #000;
  box-shadow: none;
}

input[type=text].new-company-input:valid {
  border-bottom: 2px solid #7ae57a;
}

input[type=text].new-company-input:focus{
  border-bottom: 2px solid #0099ff;
}

.new-company-label {
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 12px;
  color: #7e7e7e;
  /*color: #dfe0e2;*/
  letter-spacing: 0.5px;
}

.create-company-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #0099ff;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  font-size: 12px;
  transition: 0.3s;
}

.hide-form {
  transform: translateX(-20%);
  opacity: 0;
}

.create-company-down {
  transform: translateY(100%);
}

.form-not-yet-here {
  transform: translateX(20%);
  opacity: 0;
}

.gone-form {
  display: none;
}

.create-company-div:hover {
  cursor: pointer;
}

.new-company-form p {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat';
}

.success-title {
  font-size: 12px;
  font-weight: 500;
}

.success-code {
  font-size: 18px;
  font-weight: 500;
}

.new-company-form .send-email {
  margin: 15px 0 30px 0;
  font-weight: 500;
  font-size: 12px;
}

.next-email {
  float: right;
  position: relative;
  top: -30px;
  color: #929292;
  transition: 0.3s;
}

.next-email:hover {
  cursor: pointer;
  color: #0099ff;
}

.emails-wrap {
  position: relative;
  color: #929292;
  text-align: center;
  font-size: 10px;
  width: 100%;
  font-family: 'Montserrat';
}

.emails-wrap span {
  display: block;
  line-height: 20px;
  border-bottom: 1px solid #929292;
  width: 150px;
  margin: auto;
}

.emails-wrap span:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.experiment-data {
  font-family: 'Montserrat';
}

.data-string {
  color: #000;
  font-size: 10px;
  margin: 0 20px;
}

.data-value {
  color: #929292;
  font-size: 11px;
  margin: 0 20px 5px 20px
}

@media screen and (max-width: 420px) {
  .card-company-name {
    font-size: 15px;
  }

  .popup-wrap {
    width: 100%;
  }
}

.projects-right {
  transform: translateX(100vw);
}

.single-person {
  width: 100%;
  height: 75px;
  border: 0;
  border-bottom: 1px solid #d6d7d9;
  margin: 0;
  padding: 10px 20px;
  background: #fff;
  font-family: 'Montserrat';
  box-sizing: border-box;
  color: #34495E;
}

.single-person-name {
  font-weight: 400;
  position: relative;
  top: 10px;
  display: inline-block;
}

.single-person-company {
  display: block;
  float: right;
  text-align: right;
  line-height: 55px;
  font-size: 20px;
  font-weight: 500;
}

.person-email {
  display: block;
  font-size: 10px;
  color: #c3c3c3;
}

.clients-left {
  transform: translateX(-100vw);
}

.questions-wrap {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  top: 0;
  background: #f9f9fb;
}

.questions-wrap h3 {
  text-align: center;
  font-family: 'Montserrat';
  margin:25px 0 0 0;
  font-weight: 400;
  font-size: 16px;
}

.questions-wrap h4 {
  font-family: 'Montserrat';
  font-size: 22px;
  color: #929292;
  text-align: center;
  margin: 0;
}

.questions-wrap h5 {
  font-family: 'Montserrat';
  font-size: 12px;
  margin: 15px 0 0 0;
  color: #929292;
  text-align: center;
}

.questions-gone {
  display: none;
}

.stepper-wrap {
  margin: auto;
  max-width: 500px;
}

.single-stepper {
  width: 100%;
  height: 50px;
}

.stepper-number {
  width: 50px;
  height: 50px;
  background: #0099ff;
  border-radius: 50%;
  line-height: 50px;
  font-family: 'Montserrat';
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 20px;
  transition: 0.3s;
}

.stepper-number-inactive {
  background: #000;
}

.stepper-question {
  display: inline-block;
  float: left;
  font-family: 'Montserrat';
  font-weight: 400;
  max-width: calc(100% - 150px);
  max-height: 50px;
  overflow: hidden;
  position: relative;
  top: 25px;
  transform: translateY(-50%);
}

.stepper-comment {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  line-height: 40px;
  border-radius: 50%;
  background: #ececec;
  float: right;
  color: #fff;
  font-size: 12px;
  text-align: center;
  transition: 0.3s;
}

.stepper-comment:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.stepper-comment-inactive {
  display: none;
}

.single-stepper-wrap:hover .stepper-comment {
  background: #0099ff;
}

.single-stepper-wrap {
  transition: 0.3s;
}

.single-stepper-wrap-inactive {
  opacity: 0.3;
}

.stepper-answer {
  font-family: 'Roboto';
  font-weight: 300;
  box-sizing: border-box;
  margin: 10px 25px;
  padding: 0 20px 20px 43px;
  border-left: 3px solid #ececec;
  color: #929292;
}

.stepper-textarea {
  resize: none;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 0 5px;
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: 0.3s;
}

.stepper-textarea-open {
  margin-top: 10px;
  padding: 5px;
  opacity: 1;
  height: 150px;
  pointer-events: auto;
}

.person-name-wrap {
  display: inline-block;
  position: relative;
  margin: 0 0 30px 0;
  font-family: 'Montserrat';
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  color: #929292;
  height: 22px;
}

.person-name-wrap:hover {
  color: #0099ff;
  border-bottom: 2px solid #0099ff;
  cursor: pointer;
  height: 20px;
}

.dropdown-names {
  display: inline-block;
  background: #fff;
  position: absolute;
  margin: auto;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Montserrat';
  border: 1px solid #d6d7d9;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s;
  color: #929292;
  z-index: 100;
}

.dropdown-name {
  text-align: center;
  padding: 10px 35px;
}

.dropdown-name:hover {
  background: #eee;
  cursor: pointer;
}

.audio-controls {
  height: 40px;
  width: 100%;
  max-width: 500px;
  background: #fff;
  position: fixed;
  bottom: 0;
  border: 2px solid #ececec;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  line-height: 40px;
}

.audio-timeline {
  height: 3px;
  width: calc(100% - 100px);
  margin: auto;
  position: absolute;
  background: #ececec;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
}

.playhead {
  width: 12px;
  height: 12px;
  background: #0099ff;
  position: relative;
  left: 100%;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.audio-timeline-subwrap {
  width: 0;
  height: 100%;
  background: #0099ff;
  transition: 0.3s;
}

.audio-controls i {
  color: #929292;
  font-size: 15px;
  margin: 0 20px;
}

/*.play-audio-button {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #929292;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  border-radius: 50%;
  font-size: 20px;
  right: 0;
  bottom: 0;
  margin: 50px;
}

.play-audio-button:hover {
  background: #0099ff;
  cursor: pointer;
}*/

/*.audioplayer {
  position: fixed;
  bottom: 0;
  margin: auto;
  max-width: 500px;
  width: 100%;
  display: block;
}*/

@media screen and (max-width: 690px) {
  .profile-info-name {
    font-size: 16px;
  }

  .profile-info-function {
    font-size: 10px;
  }

  .profile-info-company {
    font-size: 12px;
  }

  .profile-letters-big {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    margin: 20px 20px;
  }

  .right-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    top: 55px;
  }

  .experiments-company-name-wrap {
    background: #f9f9fb;
    padding: 0 20px;
  }

  .cards-wrap {
    display: block;
    padding: 0;
  }

  .experiments-cards-gone {
    display: none;
  }

  .single-card {
    width: 100%;
    height: 75px;
    border: 0;
    border-bottom: 1px solid #d6d7d9;
    margin: 0;
    padding: 10px 20px;
  }

  .single-card:hover {
    background: #f4f4f4;
  }

  .card-company-name {
    display: inline-block;
    line-height: 55px;
  }

  .projects-number {
    font-size: 30px;
    float: right;
  }

  .projects-amount-wrap {
    top: 0;
    display: inline-block;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
  }

  .projects-number::after {
    font-size: 10px;
    top: 0;
  }

  .card-circle {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #c2c2c2;
    color: #fff;
    line-height: 55px;
    font-family: 'Montserrat';
    float: left;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
  }

  .circle-active {
    background: #0099ff;
  }

  .card-plus {
    line-height: 55px;
    font-size: 55px;
  }

  .experiments-ellipsis-wrap {
    line-height: 55px;
    font-size: 20px;
    right: auto;
  }

  .experiments-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  .experiments-info-name {
    max-height: 20px;
  }

  .experiments-info-sub {
    max-height: 13px;
  }

  .experiments-info-results {
    max-height: 13px;
  }

  .single-person-company {
    font-size: 16px;
  }
}

.person-circle {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  margin-top: 5px;
  font-family: 'Montserrat';
  float: left;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  border-radius: 50%;
  background: #0099ff;
  text-transform: uppercase;
}

.negative-results {
  color: #e55c5c;
}

.positive-results {
  color: #7ae57a;
}

.load-spinner-wrap {
  width: 100%;
  position: absolute;
  min-height: 100%;
  background: #fff;
  z-index: 500;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  stroke: #0099ff;
}

.spinner-gone {
  z-index: -100;
  opacity: 0;
  transition: 0.3s;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
