@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,400i,700');

@font-face {
    font-family: 'Intro';
    src: url('intro.otf');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-succes {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9fb;
  display: none;
  z-index: 9;
  overflow-y: scroll;
  transition: 0.5s all;
}

.page-succes h2 {
  font-family: 'Intro';
  text-align: center;
  margin: 0;
  padding: 100px 50px 0;
  font-weight: 300;
  font-size: 4em;
}

.page-succes .subtitle {
  padding: 50px 50px 20px;
}

.page-succes p {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 0px 50px 50px;
  font-weight: 400;
  color: #929292;
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.app-wrap {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.android {
  background: url("google-play-badge.png");
  width: 150px;
  height: 70px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.ios {
  background: url("ios-store-badge.svg");
  width: 133px;
  height: 70px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.visible {
  display: block;
  opacity: 1 !important;
}

.page_wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f9f9fb;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: url(logo_blue_whale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header h2 {
  font-family: 'Intro';
  text-align: center;
  margin: 0;
  padding: 50px 50px;
  font-weight: 300;
  font-size: 20px;
}

.header p {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 0px 50px 50px;
  font-weight: 400;
  color: #929292;
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.colorized {
  color: #0099ff;
  white-space: nowrap;
}

.personal {
  border-bottom: 1px solid #ececec;
}

.subtitle {
  text-align: center;
  font-family: 'Montserrat';
  color: #929292;
  margin: 0;
  padding: 100px 20px;
}

.register-form {
  max-width: 460px;
  padding: 0 20px;
  margin: 0 auto 100px;
  display: flow-root;
}

.select-input {
  border: none;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  margin: 10px 20px 0;
  padding: 0 0 5px;
  width: calc(100% - 40px);
  color: #0099ff;
  border-bottom: 2px solid #929292;
  box-shadow: none;
}

.text-input {
  width: calc(100% - 40px);
  height: 40px;
  margin: 0 20px 40px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #929292;
  letter-spacing: 1px;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  transition: 0.3s all;
  box-shadow: none;
}

.text-input.error {
  border-bottom:2px solid #E55C5C;
}

.text-input:valid {
  border-bottom: 2px solid #7AE57A;
}

.text-input.half {
  width: calc(50% - 40px);
  margin: 0 20px;
  float: left;

}

.text-input:focus {
  border-bottom: 2px solid #0099ff;
}

:focus {
    outline: none;
}

.label {
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
  font-weight: 500;
  color: #929292;
  line-height: 1;
  margin: 0;
  clear: both;
  font-size: 0.8em;
}

.label.error {
  color: #E55C5C;
}

.login-input:-webkit-autofill, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    color: #7126b2 !important;
    box-shadow: none;
}

.terms {
  max-width: 300px;
  margin: 50px auto 100px;
  padding: 0 40px;
  display: flow-root;
}

.terms .terms-checker {
  float: right;
  margin: 0;
}

.terms p {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 10px 0 0;
  font-weight: 500;
  color: #929292;
  margin: 0;
  float: left;
  font-size: 13px;
  line-height: 1;
}

.submit-register {
  max-width: 420px;
  padding: 0 40px;
  margin: 50px auto 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 3px 20px;
  font-weight: 500;
  color: #0099ff;
  font-size: 15px;
  line-height: 1;
}

.error_message {
  text-align: center;
  font-size: 0.8em;
  font-family: 'Montserrat';
  color: #E55C5C;
  margin: 0 auto 50px;
}

.submit-register a {
  padding: 10px 20px;
  border-radius: 3px;
  transition: 0.3s all;
  cursor: pointer;
  user-select: none;
}

.submit-register a:hover {
  background: #ececec;
}

.switch-wrap {
  float: right;
}

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 16px 0 16px 44px;
}

.switch-label-option {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 9px 9px 9px 20px;
  padding: 16px 0 16px 44px;
}

.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #929292;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
  background-color: #61a9d8;
}
.switch-input:checked + .switch-label:after {
  background-color: #0099ff;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f9f9fb;
  z-index: 20;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  width: 40px;
  height: 40px;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #0099ff; }
	25% { stroke: #0099ff; }
	50% { stroke: #0099ff; }
	75% { stroke: #0099ff; }
  100% { stroke: #0099ff; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 46;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}
