<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hizmet.bluewhaleventures">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_experiments"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ExperimentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".NewExperimentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".NewPersonActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>